{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<nav class="navbar">
    <div class="brand">
      <a href="{% url 'index' %}">My Website</a>
    </div>
    <div class="menu-toggle" onclick="toggleMenu()">☰</div>
    <div class="menu">
      <a class="navbar-brand" href="{% url 'index' %}">Home</a>
      <a class="navbar-brand" href="{% url 'about:index' %}">About</a>
      <a class="navbar-brand" href="{% url 'blog:index' %}">Blog</a>
      <a class="navbar-brand" href="{% url 'blog:create' %}">Create</a>
      <a class="navbar-brand" href="#contact">Contact</a>
      <a class="navbar-brand" href="{% url 'logout' %}">Log Out</a>
    </div>
</nav>

</body>
</html>