{% load static %}

<aside class="sidebar" id="sidebarid">
      <div class="sidebar-header">
        <div class="hamburgerandbrand">
          <button class="hamburger" id="hamburgerBtn" aria-controls="siteNav" aria-expanded="false" aria-label="Buka menu">
            <span class="box" aria-hidden="true">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </span>
          </button>
          <div class="logo">
            <span>Taratech</span>
          </div>
        </div>
        <div class="team-info">
          <div>
            <p>{{ email }}</p>
            <br>
            <p>{{role}}</p>
          </div>
        </div>
      </div>

      <nav class="menu" id="siteNav">
        <ul>
          <li>
            <a href="{% url 'ticket:dashboard' %}">
              <img src="/static/img/home.svg" alt="home" />
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="{% url 'ticket:ticket_index' %}">
              <img src="/static/img/ticket.svg" alt="about" />
              <span>Ticket</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>
