{% extends "base.html" %}
{% load socialaccount %}

{% block title %}
        <title>Index Dashboard</title>
    {% endblock title %}

{% block app_css %}
        {% include "snippets/styles.html" %}
    {% endblock app_css %}

{% block content %}

{% block message %}

    {% if messages %}
        {% for message in messages %}
            <div class="error">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endblock message %}

<div class="dashboard">

  <h2>Status Ticket</h2>

  <div class="chart-container">

    <!-- Chart -->
    <div class="chart-box">
      <canvas id="statusChart" width="220" height="220"></canvas>
    </div>

    <!-- Legend -->
    <div class="legend">
      <div class="legend-item">
        <span class="dot open"></span>
        <span>Open</span>
      </div>
      <div class="legend-item">
        <span class="dot progress"></span>
        <span>In Progress</span>
      </div>
      <div class="legend-item">
        <span class="dot closed"></span>
        <span>Closed</span>
      </div>
    </div>

  </div>

</div>

{% block app_js %}
    {% include "snippets/scripts.html" %}
{% endblock app_js %}
{% endblock content %}


