{% extends "base.html" %}
{% load socialaccount %}
{% load static %}



{% block title %}
        <title>Ticket</title>
    {% endblock title %}

{% block app_css %}
        {% include "snippets/styles.html" %}
    {% endblock app_css %}

{% block content %}

{% block message %}

    {% if messages %}
        {% for message in messages %}
            <div class="error">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endblock message %}

        <h2>Ticket</h2>

          <div class="info-box">
            <h4>Personal Information</h4>
            <div class="info-grid">
              <div>
                <label>First Name</label>
                <p>Rafiqur</p>
              </div>
              <div>
                <label>Last Name</label>
                <p>Rahman</p>
              </div>
              <div>
                <label>Email address</label>
                <p>rafiqurrahman51@gmail.com</p>
              </div>
              <div>
                <label>Phone</label>
                <p>+09 345 346 46</p>
              </div>
              <div>
                <label>Bio</label>
                <p>Team Manager</p>
              </div>
            </div>
            
          </div>
        </div>

{% endblock content %}