/* ===== GLOBAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #f9fafb;
  color: #020202;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* ===== LAYOUT ===== */
.app {
  display: flex;
  height: 100vh;
}


/* ===== MAIN CONTENT ===== */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ===== TOP BAR ===== */
.topbar {
  height: 50px;
  background: oklab(95.901% 0.00514 0.00149);
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.search-container input {
  width: 250px;
  padding: 8px 12px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  outline: none;
}

.topbar-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.topbar-icons img{
  width: 25px;
  height: 25px;
}

.icon-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* ===== PAGE CONTENT ===== */
.page-content {
  padding: 20px;
  overflow-y: auto;
}

.page-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* ===== TABS ===== */
.tabs {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.tabs button {
  padding: 8px 16px;
  border: 1px solid #e2e8f0;
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.tabs button:hover {
  background: #f1f5f9;
}

.tabs button.active {
  background: #2563eb;
  color: #fff;
  border-color: #2563eb;
}

.tabs button.delete {
  color: #ef4444;
  border-color: #ef4444;
}

/* ===== PROFILE SECTION ===== */
.profile-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-card,
.info-box {
  background: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  padding: 20px;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.edit-btn {
  float: right;
  padding: 6px 12px;
  border: 1px solid #e2e8f0;
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 15px;
}

.info-grid label {
  font-size: 12px;
  color: #6b7280;
}

.info-grid p {
  font-size: 14px;
  color: #1e293b;
}
